* {
    margin: 0;
    padding: 0;
}

.column {
  text-align: center;
    margin-left: 12%;
    margin-top: 2%;
    float: left;
    width: 15%;
    padding: 10px;
    height: auto;
    font-size: 20pt;
    border: 0;
    background: white;
    border-radius:40px;
    min-height: 450px;
    border: 2px solid black;
}

body>div>h1{
  text-align: center;
}

.text{
    text-align: center;
    margin-top: 2%
}

.btn {
    font-weight: 700;
    color: #2a2a2a;
    text-decoration: none;
    width: 150px;
    height: 40px;
    background: white;
    transition: 0.2s;
    border: 2px solid black;
    border-radius: 40px;
}

.btn:hover {
    background: #2a2a2a;
    color: #ffffff;
}

.tasks{
    margin-left: 50px;
}

.form_control {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 34px;
}

.form_control input[type="text"] {
    height: 20px;
    width: 200px;
    border: 0px;
    padding: 10px;
    border-radius: 40px;
    border: 2px solid black;
    border-radius: 40px;
    margin-top: 1%;
}

.completed{
    text-decoration: line-through;
}
